.App {
  background: linear-gradient(lightgray, white);
  width: 100vw;
  height: 100vh;
}

/* Hearder Page */
.navBar {
  height: 8vh;
}

/* Main Page */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main p4{
  font-weight: bold;
}

.mainTable {
  width: 60vw;
}

.mainSide {
  display: flex;
}

.mainSideData {
  width: 30vw;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 55px;
  margin: 30px;
  box-shadow: 5px 5px 5px 5px lightgray;
}

.mainSideData h4{
  font-weight: bold;
}


/* addressList */
.addressList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addressTable {
  width: 60vw;
}

.addressTableTr {
  vertical-align: middle;
}

.addressTableTd:hover {
  background-color: lavender;
  cursor: pointer;
}

/* Login, CreateKey Page */
.login {
  width: 100vw;
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginMain {
  border: 1px solid gray;
  border-radius: 30px;
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 5px lightgray;
}

.login input {
  width: 400px;
}

.login h4 {
  font-weight: bold;
}

.loginButton {
  display: flex;
  justify-content: space-between;
}

.loginKey {
  padding-top: 40px;
}

/* Datas, Txs Page  */
.detailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.detailInput {
  width: 80vw;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px lightgray;
  margin-top: 20px;
  margin-bottom: 20px;
}

.detailInput h5{
  font-weight: bold;
}

.detailBoxContainer {
  width: 80vw;
  border: 1px solid gray;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 5px lightgray;
  display: flex;
}

.box1 {
  border: 1px solid red;
  margin: 20px;
  width: 600px;
  height: 300px;
}

.box2 {
  border: 1px solid blue;
  margin: 20px;
  width: 600px;
  height: 300px;
}
